.root {
    position: fixed;
    border-radius: 16px;
    z-index: 100000;
    box-shadow: 0px 4px 12px 0px rgba(139, 153, 169, 0.24);
    overflow: hidden;
}

.button {
    display: flex;
    align-items: center;
    padding: 16px;
    color: #252628;
    background-color: white;
    cursor: pointer;
    transition: all 150ms;
}

.button:not(:first-child) {
    border-top: 1px solid #DEDEDE;
}

.button:hover {
    background-color: #252628;
    color: white;
}

.popup {
    position: fixed;
    border-radius: 16px;
    background-color: white;
    z-index: 100000;
}